$width: 180px;
$margin: 7px;

.card-wrapper {
  max-width: $width;
  margin: $margin $margin;
  display: inline-block;
  vertical-align: top;
}

@mixin card-sizer {
  $ratio: 311 / 223;

  width: $width;
  height: round($width * $ratio);
  display: inline-block;
  box-sizing: content-box;
}

@mixin card-border {
  border-radius: 16px;
}

.card-image {
  @include card-sizer;
  @include card-border;
  border: $margin solid transparent;
  transition: border 0.5s ease;

 /* &.reserved {
    border: $margin solid #9e9e9e;
  }*/
  
  &.selected {
    border: $margin solid #4db6ac;
  }

  &.missing {
    opacity: 0.35;
  }
}

.card-placeholder {
  @include card-sizer;
  @include card-border;
  margin: $margin;
  background: url('http://gatherer.wizards.com/Handlers/Image.ashx?type=card&name=null');
  background-size: cover;
  position: absolute;
  z-index: -1;

  &.missing {
    visibility: hidden;
  }
}