@import '../../common/variables.scss';

.draft-controls {
  @media screen and (max-width: $s-breakpoint) {
    .btn {
      padding: 0 1.42em;
      font-size: 0.8rem;
    }
  }
}

.pack-pick-menu-wrapper {
  position: relative;
  width: 127px;
  height: 36px;
  display: inline-block;
  vertical-align: top;
  overflow-y: hidden;
  cursor: pointer;
  margin: 0 5px;

  @media screen and (max-width: $s-breakpoint) {
    width: 90px;
    margin: 0 3px;
  }
}

.pack-pick-button {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  pointer-events: none;
}

select.pack-pick-menu {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block !important;
  height: 100%;
  width: 90%;
  cursor: pointer;

  @media screen and (max-width: $s-breakpoint) {
    width: 80%;
  }
}