$roboto-font-path: '~materialize-css/fonts/roboto/';
@import '~materialize-css/sass/materialize.scss';

body {
  background: #f9f9f9;
  overflow-x: hidden;
  overflow-y: scroll;
}

.spaced {
  margin: 0 7px;
}

.margin {
  margin: 10px 0;
}

.margin-top {
  margin: 10px 0 0;
}

.no-margin-top {
  margin-top: 0;
}

.pointer {
  cursor: pointer;
}

.hide {
  display: none;
}